name: "Deploy to CloudHub 2.0"

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Deployment Environment"
        required: true
        type: choice
        options:
          - Sandbox
          - Production
      target:
        description: "CloudHub 2.0 Target/Space"
        required: true
        type: string
        default: "Cloudhub-US-East-2"
      replicas:
        description: "Number of Replicas"
        required: true
        type: choice
        options:
          - "1"
          - "2"
      vcores:
        description: "vCores per Replica"
        required: true
        type: choice
        options:
          - "0.1"
          - "0.2"
          - "1"
          - "2"
      java:
        description: "Java Version"
        required: true
        type: choice
        options:
          - "8"
          - "17"
      runtime:
        description: "Mule Runtime Version"
        required: true
        type: choice
        options:
          - "4.9.8"
          - "4.10.0"
      commit:
        description: "Deployment Description"
        required: true
        type: string

run-name: "CH2 Deploy: ${ { inputs.commit } } | ${ { inputs.environment } } | ${ { inputs.target } }"

env:
  MAVEN_CACHE_KEY: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}

jobs:

  Validate-Inputs:
    runs-on: ubuntu-latest
    steps:
      - name: Validate Inputs
        run: |
          echo "Validating..."
          if [[ "${{ inputs.environment }}" == "Sandbox" ]]; then
            echo "Environment OK: Sandbox"
          elif [[ "${{ inputs.environment }}" == "Production" ]]; then
            echo "Environment OK: Production"
          else
            echo "Invalid environment"
            exit 1
          fi

      - name: Production Warning
        if: inputs.environment == 'Production'
        run: echo "⚠️ WARNING: You are deploying to Production"

  Build:
    needs: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ env.MAVEN_CACHE_KEY }}

      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "${{ inputs.java }}"

      - name: Build Artifact
        run: mvn -B package -DskipTests

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: mule-app
          path: target/*.jar


  Publish-To-Exchange:
    needs: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v4
        with:
          name: mule-app

      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "${{ inputs.java }}"

      - name: Publish to Exchange
        run: |
          if [ "${{ inputs.environment }}" == "Sandbox" ]; then
              MULE_ENV="${{ secrets.DEV_MULE_ENV }}"
              MULE_KEY="${{ secrets.DEV_MULE_KEY }}"
          else
              MULE_ENV="${{ secrets.PROD_MULE_ENV }}"
              MULE_KEY="${{ secrets.PROD_MULE_KEY }}"
          fi

          mvn clean deploy \
            -DskipTests \
            -D"mule.env"="$MULE_ENV" \
            -D"mule.key"="$MULE_KEY" \
            --settings settings.xml


  Deploy-To-CloudHub2:
    needs: Publish-To-Exchange
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v4
        with:
          name: mule-app

      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "${{ inputs.java }}"

      - name: Deploy to CloudHub 2.0
        env:
          ClientId: ${{ secrets.CONNECTED_APP_ID }}
          ClientSecret: ${{ secrets.CONNECTED_APP_SECRET }}
          GrantType: ${{ secrets.GRANT_TYPE }}
        run: |
          if [ "${{ inputs.environment }}" == "Sandbox" ]; then
            APP_NAME="myapp-sandbox"
            MULE_ENV="${{ secrets.DEV_MULE_ENV }}"
            MULE_KEY="${{ secrets.DEV_MULE_KEY }}"
          else
            APP_NAME="myapp-prod"
            MULE_ENV="${{ secrets.PROD_MULE_ENV }}"
            MULE_KEY="${{ secrets.PROD_MULE_KEY }}"
          fi

          mvn clean deploy -DmuleDeploy \
            -DClientId="$ClientId" \
            -DClientSecret="$ClientSecret" \
            -DGrantType="$GrantType" \
            -Denvironment="${{ inputs.environment }}" \
            -Dapplication.name="$APP_NAME" \
            -DjavaVersion="${{ inputs.java }}" \
            -Dreplicas="${{ inputs.replicas }}" \
            -DvCores="${{ inputs.vcores }}" \
            -Dregion="${{ inputs.target }}" \
            -Druntime="${{ inputs.runtime }}" \
            -D"mule.env"="$MULE_ENV" \
            -D"mule.key"="$MULE_KEY" \
            -DskipTests
